/* 2009-2015, SIS AbTC Stylesheet */

body {overflow: hidden;} 

div.headContent {overflow: auto; position: absolute; width: 100%; height: 90px; border-bottom: solid 2px #000000;} 
div.bodyContent { overflow: auto; position: absolute; width: 99%; top: 100px; bottom: 0;}

/* ----- paragraph ------- */

p {FONT-SIZE: 10pt;  MARGIN: 0pt;  FONT-FAMILY: Verdana, Arial, Sans Serif; padding-top: 5px; padding-bottom: 5px; }
.p {FONT-SIZE: 10pt;  MARGIN: 0pt;  FONT-FAMILY: Verdana, Arial, Sans Serif; padding-top: 5px; padding-bottom: 5px; }
div {FONT-SIZE: 10pt;  MARGIN: 0pt;  FONT-FAMILY: Verdana, Arial, Sans Serif;}
br {margin-left: 50pt; }
.bold { font-weight: bold; }
.boldItalic { font-weight: bold; font-style: italic; }
.italic { font-style: italic; }
.underlined { text-decoration: underline; }
.menucascade { font-weight: bold; }
.uicontrol { font-weight: bold; }
/* .uicontrol { font-weight: bold; background-color: #d0d0d0; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-bottom: 1px solid #a0a0a0; border-right: 1px solid #a0a0a0; } */
.arrow { font-weight: bold; color: blue; }
.parmname { font-weight: bold; }
.kwd { font-weight: bold; }
.defkwd { font-weight: bold; text-decoration: underline; }
.var { font-style : italic;}
.shortcut { text-decoration: underline; }
pre { font-family: monospace; padding: 5px 5px; margin: 5px 10px; border: dashed 1pt #333366; white-space: pre; }
pre.screen { font-family: monospace; padding: 5px 5px 5px 5px; border: dashed 1pt #606060; white-space: pre}
span.keyword {font-family: monospace;}
.section { margin-top: 1pt; margin-bottom: 1pt }
.example { margin-top: 1pt; margin-bottom: 1pt; }
.fn { font-size: 8pt; font-style: italic; padding-top: 5px; padding-bottom: 5px; } 
a { color: #3366cc; text-decoration: underline; }
a:hover { background-color: lightgrey; }

/* ----- Set heading sizes, getting smaller for deeper nesting ------ */

H1 {FONT-SIZE: 18pt; MARGIN: 9pt 0pt 7pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366;}
H2 {FONT-SIZE: 15pt; MARGIN: 2pt 0pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366;}
H3 {FONT-SIZE: 13pt; MARGIN: 2pt 0pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366;}
H4 {FONT-SIZE: 12pt; font-style: italic; font-weight: bold; MARGIN: 2pt 0pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366;}
H5 {FONT-SIZE: 11pt; font-style: italic; MARGIN: 2pt 0pt;  FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366;}
H6 {FONT-SIZE: 10pt;font-weight: bold;  MARGIN: 2pt 0pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366;}
.sectiontitle { FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: #003366; }
span.title {FONT-SIZE: 8pt; font-weight: normal; padding-left: 10pt; FONT-FAMILY: Verdana, Arial, Sans Serif; COLOR: green; }

.topictitle1 { font-size: 18pt; margin-top: 0pt; margin-bottom: 2pt; }
.topictitle2 { font-size: 15pt; margin-top: 11pt; margin-bottom: 2pt; }
.topictitle3 { font-size: 13pt; margin-top: 11pt; margin-bottom: 2pt; }
.topictitle4 { font-size: 12pt; font-style: italic; font-weight: bold; margin-top: 11pt; }
.topictitle5 { font-size: 11pt; font-style: italic; margin-top: 10pt; }
.topictitle6 { font-size: 10pt; font-weight: bold; margin-top: 6pt; }


/* ------ lists -------- */

ol { padding: 0pt, 10pt; margin-top: 5pt; margin-bottom: 5pt; }
ul { padding: 0pt, 10pt; margin-top: 5pt; margin-bottom: 5pt; margin-left: 25pt; }
li {FONT-SIZE: 10pt;  MARGIN: 2pt;  FONT-FAMILY: Verdana, Arial, Sans Serif;}
.note ul { margin-top: 0pt; margin-bottom: 0pt; }
.note ol { margin-top: 0pt; margin-bottom: 0pt; }
.note li { margin: 0pt; }
dl { margin-top: 4pt; margin-bottom: 0pt; }
dd { padding-bottom: 5px; margin-left: 20pt; }
.dlterm { font-weight: bold; }
ul.simple { list-style-type: none }
.dltermexpand { font-weight: bold; margin-top: 1em; }
*[compact="yes"]>li { margin-top: 0em;}
*[compact="no"]>li { margin-top: .53em;}	
.liexpand { margin-top: 1em; margin-bottom: 1em }
.sliexpand { margin-top: 1em; margin-bottom: 1em }
.dlexpand { margin-top: 1em; margin-bottom: 1em }
.ddexpand { margin-top: 1em; margin-bottom: 1em }
.stepexpand { margin-top: 1em; margin-bottom: 1em }
.substepexpand { margin-top: 1em; margin-bottom: 1em }

/* ------ links ------ */

.ullinks { list-style-type: none }
.ulchildlink { margin-top: 1em; margin-bottom: 1em }
.olchildlink { margin-top: 1em; margin-bottom: 1em }
.linklist { margin-bottom: 1em }
.linklistwithchild { margin-left: 1.5em; margin-bottom: 1em  }
.sublinklist { margin-left: 1.5em; margin-bottom: 1em  }
.relconcepts { margin-top: 1em; margin-bottom: 1em }
.reltasks { margin-top: 1em; margin-bottom: 1em }
.relref { margin-top: 1em; margin-bottom: 1em }
.relinfo { margin-top: 1em; margin-bottom: 1em }
.rellinks { font-style: italic; margin-top: 5pt }
.breadcrumb { font-size : smaller; margin-bottom: 1em }
.prereq { margin-left : 20px;}
.familylinks {FONT-SIZE: 10pt;  MARGIN: 1pt;  FONT-FAMILY: Verdana, Arial, Sans Serif; }
.unresolved { background-color: skyblue; }
.base { background-color: #ffffff; }
.nested0 { margin-top : 1em;}

/* ------- images ------- */ 

img {FONT-FAMILY: Verdana, Arial, Sans Serif; margin-bottom: -2pt; margin-top: 0pt; margin-left: 0pt; margin-right: 0pt; vertical-align: center;}
.imagebreak { margin-left: 5px; margin-bottom: -10px; margin-top: -10px; }
.figcap { font-style: italic; FONT-FAMILY: Verdana, Arial, Sans Serif; font-size: 10pt; margin: 5pt; }
.figdesc { font-style: normal;  padding-left: 15px; FONT-FAMILY: Verdana, Arial, Sans Serif; }
.figborder { border-style: solid; padding-left : 3px; border-width : 2px; padding-right : 3px; margin-top: 1em; border-color : Silver;}
.figsides { border-left : 2px solid; padding-left : 3px; border-right : 2px solid; padding-right : 3px; margin-top: 1em; border-color : Silver;}
div.fignone { }
.figtop { border-top : 2px solid; margin-top: 1em; border-color : Silver;}
.figbottom { border-bottom : 2px solid; border-color : Silver;}
.figtopbot { border-top : 2px solid; border-bottom : 2px solid; margin-top: 1em; border-color : Silver;}
div.imageleft { text-align: left; }
div.imagecenter { text-align: center ; margin-left: 10pt; }
div.imageright { text-align: right; }
div.imagejustify { text-align: justify }

/* ------- tables ------- */

table { margin: 5pt; border-style: solid; }
table[rules="none"] { border-color: white; }
td { FONT-SIZE: 10pt;  MARGIN: 0pt;  FONT-FAMILY: Verdana, Arial, Sans Serif; padding-top: 2px; padding-bottom: 2px; border-style: solid; }
th { border-style: solid; background-color: #dbdbdb; }
.firstcol { font-weight : bold; border-style: solid; }
div.tablenoborder { border-style: none;}
*[frame="void"] { border-style: solid; border-color: white; }
*[frame="void"]>tbody>tr>td { border-style: solid; border-color: white; }
table>caption { text-align: left; font-style: italic; FONT-FAMILY: Verdana, Arial, Sans Serif; font-size: 10pt; padding-left: 0pt; }

/* ------- notes ------- */

.note { margin: 2pt; padding: 4pt 2pt;  border-top: 1px solid #ff8c00; border-bottom: 1px solid #ff8c00; }
.notetitle { color: #ff6600; font-weight: bold; font-style: normal; }
.notelisttitle { font-weight: bold; }
.tip { margin: 2pt; padding: 4pt 2pt;  border-top: 1px solid green; border-bottom: 1px solid green; }
.tiptitle { color: green; font-weight: bold; font-style: normal; }
.hint { margin-top: 2pt; margin-bottom : 2pt;}
.hinttitle { font-weight: bold; font-style: italic; color: green; }
.fastpath { margin-top: 1em; margin-bottom : 1em;}
.fastpathtitle { font-weight: bold }
.important { margin-top: 1em; margin-bottom : 1em;}
.importanttitle { font-weight: bold; font-style: italic; color: #ff6600;  }
.remember { margin-top: 1em; margin-bottom : 1em;}
.remembertitle { font-weight: bold; font-style: italic; color: #ff6600;  }
.restriction { margin-top: 1em; margin-bottom : 1em;}
.restrictiontitle { font-weight: bold; font-style: italic; color: #ff6600;  }
.attention { margin-top: 1em; margin-bottom : 1em;}
.attentiontitle { font-weight: bold; font-style: italic; color: #ff6600;  }
.dangertitle { font-weight: bold; font-style: italic; color: #ff6600;  }
.danger { margin-top: 1em; margin-bottom : 1em;}
.caution { margin: 2pt; padding: 4pt 2pt;  border-top: 1px solid red; border-bottom: 1px solid red; }
.cautiontitle { color: red; font-weight: bold; font-style: normal; }


